body {
    background-image: url("./Pictures/background.jpg");
    background-color: #cccccc;
}

.bar-nav{
    background-color:green;
}

.img-container{
    height:150px;
    display:flex;
}

.img-container img{
    border-radius:10px;
    margin-top:-20px;
}
.img{
    position: relative;
    left: 100px;
}
.gradient {
    background-color: yellow;
    background-image: linear-gradient(315deg, #964B00 50%, #964B00 74%, green 25%);
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

}

.gradient.shimmer{
    background-image: linear-gradient(315deg, blue 50%, #954535 74%, #964B00 50%);
}

  
nav {
    top:0px;
    left:0px;
    right:0px;
    z-index: 99px;
    background-color: #24364C;
    margin-left:-8px;
    margin-right:-8px;
    margin-top:-8px;
    padding: 16px 32px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
  
.nav-list {
    justify-content: flex-end;
    margin: 0 -16px;
    color:white;
    font-family: Helvetica, Arial, sans-serif;
}

.nav-list a {
    color: white;
    margin: 0 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    font-family: Helvetica, Arial, sans-serif;
}
  
.nav-list a.activee, .nav-list a:hover {
    background-color: #F4BA1B;
    color:white;
    border-radius: 99px;
    font-family: Helvetica, Arial, sans-serif;
}
@keyframes shimmer {
    100% {
    -webkit-mask-position: left;
    }
}


.gradient.shimmer:hover {
    color: grey;
    -webkit-mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/300%;
    background-repeat: no-repeat;
    animation: shimmer 2.5s infinite;
}